trigger:
  branches:
    include:
    - master

jobs:

- job: 'StyleCheck'

  pool:
    vmImage: 'ubuntu-latest'

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.9'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install flake8
    displayName: 'Install build dependencies'

  - script: |
      flake8
    displayName: 'Run style check'


- job: 'Test'
  dependsOn: StyleCheck

  strategy:
    matrix:
      Linux-py3.11:
        imageName: 'ubuntu-latest'
        pythonVersion: '3.11'
      Linux-py3.10:
        imageName: 'ubuntu-latest'
        pythonVersion: '3.10'
      Linux-py3.9:
        imageName: 'ubuntu-latest'
        pythonVersion: '3.9'
      Linux-py3.8:
        imageName: 'ubuntu-latest'
        pythonVersion: '3.8'

      macOS-py3.11:
        imageName: 'macos-latest'
        pythonVersion: '3.11'
      macOS-py3.10:
        imageName: 'macos-latest'
        pythonVersion: '3.10'
      macOS-py3.9:
        imageName: 'macos-latest'
        pythonVersion: '3.9'
      macOS-py3.8:
        imageName: 'macos-latest'
        pythonVersion: '3.8'

      Windows-py3.11:
        imageName: 'windows-latest'
        pythonVersion: '3.11'
      Windows-py3.10:
        imageName: 'windows-latest'
        pythonVersion: '3.10'
      Windows-py3.9:
        imageName: 'windows-latest'
        pythonVersion: '3.9'
      Windows-py3.8:
        imageName: 'windows-latest'
        pythonVersion: '3.8'

  pool:
    vmImage: $(imageName)

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(pythonVersion)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install -r requirements-dev.txt
    displayName: 'Install build dependencies'

  - script: |
      python -m pip install -e .
    displayName: 'Install hdmf-docutils'

  - script: |
      pytest
    displayName: 'Run tests'
