trigger:
  branches:
    include:
    - master

jobs:

- job: 'StyleCheck'

  pool:
    vmImage: 'ubuntu-20.04'

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.9'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install flake8
    displayName: 'Install build dependencies'

  - script: |
      flake8
    displayName: 'Run style check'


- job: 'Test'
  dependsOn: StyleCheck

  strategy:
    matrix:
      Linux-py3.9:
        imageName: 'ubuntu-20.04'
        pythonVersion: '3.9'
      Linux-py3.8:
        imageName: 'ubuntu-20.04'
        pythonVersion: '3.8'
      Linux-py3.7:
        imageName: 'ubuntu-20.04'
        pythonVersion: '3.7'
      Linux-py3.6:
        imageName: 'ubuntu-20.04'
        pythonVersion: '3.6'

      macOS-py3.9:
        imageName: 'macos-10.15'
        pythonVersion: '3.9'
      macOS-py3.8:
        imageName: 'macos-10.15'
        pythonVersion: '3.8'
      macOS-py3.7:
        imageName: 'macos-10.15'
        pythonVersion: '3.7'
      macOS-py3.6:
        imageName: 'macos-10.15'
        pythonVersion: '3.6'

      Windows-py3.9:
        imageName: 'windows-2019'
        pythonVersion: '3.9'
      Windows-py3.8:
        imageName: 'windows-2019'
        pythonVersion: '3.8'
      Windows-py3.7:
        imageName: 'windows-2019'
        pythonVersion: '3.7'
      Windows-py3.6:
        imageName: 'windows-2019'
        pythonVersion: '3.6'

  pool:
    vmImage: $(imageName)

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(pythonVersion)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install -r requirements-dev.txt
    displayName: 'Install build dependencies'

  - script: |
      python -m pip install -e .
    displayName: 'Install hdmf-docutils'

  - script: |
      pytest
    displayName: 'Run tests'
