name: Run all tests
on:
  schedule:
    - cron: '0 5 * * 1'  # once per week on Monday at 5:00 AM UTC
  push:
  workflow_dispatch:

jobs:
  run-all-tests:
    name: ${{ matrix.python-ver }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-ver }}-${{ matrix.os }}
      cancel-in-progress: true
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-ver:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout repo with submodules
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # tags are required to determine the version

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-ver }}

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          python -m pip list

      - name: Run tests
        run: |
          pytest
